*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;

}
.banner   {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 50px;
 
 
}
.container{
max-width: 1280px;
    margin: auto;
    padding: 0 20px;
}

#h2{
    font-size: 70px;
    font-weight: bold;
    line-height: 1.3;
}
#p1{
    font-size: 16px;
    font-weight: 400;
    max-width: 65%;
    line-height: 1.2;
}
.btn{
    background-color: #DD0000;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 500;
    padding: 15px 25px;
    transition: 1s ;
    cursor: pointer;
}
.btn:hover{
    background-color: blue;
    color: black;
}
.banner-description{
    padding-left: 45px;
}
.banner-img img{
    display: block;
}
@media screen and (max-width:576px) {
    
    .banner{
        display: grid;
        justify-content: center;
    }
   #h2{
    font-size: 30px;
    text-align: center;
   } 
   #p1{
    font-size: 13px;
    text-align: center;
    max-width: 100%;
    line-height: 1.7;
   }
   .banner-description{
    justify-items: center;
    
   }
}